.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-left: -8px;
  margin-right: -8px;
}

.grid-panel {
  border: 1px solid black;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1 / 4;
  background-color: black;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -8px;
  font-family: sans-serif;
  font-size: 14px;
}

#links a {
  color: lightgrey;
  text-decoration: none;
}

#links a:hover{
  color: white;
}

#title {
  grid-column: 1 / 4;
}

#navBar {
  grid-column: 1 / 4;
}

#first3 {
  grid-column: 1 / 4;
}

#ads {
  grid-column: 1 / 4;
}

#sideAds {
  grid-column: 1 / 2;
}

#stories {
  grid-column: 2 / 4;
}

#bottomAds {
  grid-column: 1 / 4;
}

#bottom {
  grid-column: 1 / 4;
}

#footer {
  grid-column: 1 / 4;
}
